.firstBlock{
    width: 500px;
}
.firstBlock img{
    width: 100%;
    height: 300px;
}
.secondBlock{
    width: 50%;
    height: 300px;
}
.secondBlock img{
    width: 100%;
    height: 100%;
}

h1{
    color: #15da8e;
}

body{
    background-color: black;
}
.second{
    color: #5c796d;
}
a{
    color: aliceblue;
    text-decoration: none; /*line-through*/
    font-size: 20px;
    font-weight: 1000;
}